<h2>Ecotone Dual Sheath</h2>

<section>
    This sets the Biped slot used by the left staff, weapon and shield
</section>

<section>
    <label for="leftBiped">Left Biped Slot</label>
    <select id="leftBiped" ng-model="settings.qdxEcotoneDualSheath.leftBipedSlot" ng-options="+(item.id) as item.text for item in bipeds"></select>
</section>

<section>
    This sets the Biped slot used by the right staff
</section>

<section>
    <label for="rightBiped">Right Biped Slot</label>
    <select id="rightBiped" ng-model="settings.qdxEcotoneDualSheath.rightBipedSlot" ng-options="+(item.id) as item.text for item in bipeds"></select>
</section>
